.navbar {
    z-index: 10;
    background-color: #303030;
    position: absolute;
    // background: linear-gradient(90deg, rgba(33,31,31,1) 0%, rgba(48,48,48,1) 66%);
}

.triangle {
    width: 0px;
    height: 0px;
    border-left: 100vw solid #303030;
    border-top: 0px solid transparent;
    // border-right: 30vw solid transparent;
    border-bottom: 300px solid transparent;
    position: relative;
    z-index: 2;
    // opacity: 70%;
}

.heading {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 3;
    text-align: left;
    color: white;
    margin-left: 50px;
    h1 {
        font-size: 48pt;
        font-weight: bolder;
        margin-bottom: 20px;
    }
}
.triangle-left {
    width: 0px;
    height: 0px;
    border-left: 20vw solid transparent;
    border-top: 0px solid transparent;
    border-right: 90vw solid  #E8EAED;
    border-bottom: 300px solid transparent;
    position: relative;
    bottom: 300px;
    z-index: 1;
    
}