.triangle {
    width: 0px;
    height: 0px;
    border-left: 100vw solid grey;
    border-top: 0px solid transparent;
    // border-right: 30vw solid transparent;
    border-bottom: 300px solid transparent;
    position: relative;
    z-index: 2;
}
.heading {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 3;
    text-align: left;
    color: white;
    h1 {
        font-size: 48pt;
    }
}

.triangle-left {
    width: 0px;
    height: 0px;
    border-left: 20vw solid transparent;
    border-top: 0px solid transparent;
    border-right: 80vw solid brown;
    border-bottom: 200px solid transparent;
    position: relative;
    bottom: 300px;
    z-index: 1;
    
}