.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    .home {
        position: relative; 
        bottom: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1000px;
        .home-options {
            display: flex;

            align-items: center;
            margin-bottom: 10px;
            width: 100%;
            .select-container {
                text-align: left;
                .select {
                    // width: 300px;
                    // width: 90vw;
                    background-color: white;
                    text-align: center;
                }
                label {
                    margin: 10px;
                }
            }
            
        }
    }
}

@media (max-width: 600px) {
    .select {
        width: 90vw;
    }
}

@media (min-width: 601px) {
    .select {
        width: 300px;
    }
}

@media (max-width: 900px) {
    .home-options {
        flex-direction: column;
        .select-container {
            label {
                display: block;
            }
            // .select {
            //     width: 90vw;
            // }
        }
    }
}

@media (min-width: 901px) {
    .home-options {
        justify-content: flex-end;
    }
}